<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-5 bg-slate-300">
      <div class="flex justify-between max-w-screen-lg mx-auto">
        <%= link_to root_path, class: "text-3xl" do %>
          Blog App
        <% end %>
        <nav class="flex items-center	">
          <%= link_to new_user_post_path(@current_user.id), class: "" do %>
            New Post
          <% end %>
        </nav>
      </div>
    </header>
    <main class="mx-auto max-w-screen-md my-28 px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
